HELP.md
.target/*
.settings/
.loadpath
.project
.classpath
docker-compose.yml
.docker
Dockerfile
### ###
*.properties
### ###
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
storage


### VS Code ###
.vscode/
/bin/
/target/

### Eclipse ###
/target/
